---
import janelle from '@/assets/janelleBento.jpg';
import presentation from '@/assets/presentation-2.jpg';
import eye from '@/assets/eye.png';
import logoWhite from '@/assets/logoWhite.png';
import circleStar from '@/assets/circleStar.png';
import barrilete from '@/assets/barrilete.png';
import successWoman from '@/assets/successWoman.png';
import footer01 from '@/assets/bentoFooter01.png';
import footer02 from '@/assets/bentoFooter02.png';
import footer03 from '@/assets/bentoFooter03.png';
import footer04 from '@/assets/bentoFooter04.png';
import Image from 'astro/components/Image.astro';
---

<div
	class="grid grid-cols-[275px] sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 justify-center mx-auto font-semibold mt-16 pb-28 text-lg lg:max-w-[1100px] md:max-w-[823px]"
>
	<div
		class="rounded-xl p-6 text-center h-[120px] max-w-[275px] bg-foreground text-background grid content-center sm:justify-self-end"
	>
		<div class="flex items-start gap-1 justify-center mb-1 sm:self-end">
			<Image class="w-6 mt-[5px]" src={circleStar} alt="circle" />
			<p class="py-0 px-1 rounded-full text-start">
				Potencial through with one-on-one mentoring
			</p>
		</div>
	</div>
	<div class="rounded-xl h-[240px] max-w-[275px] sm:row-span-2">
		<Image
			class="rounded-xl object-cover h-full"
			src={janelle}
			alt="Janelle working "
		/>
	</div>
	<div
		class="rounded-xl h-[120px] max-w-[275px] p-4 bg-lightOrange relative sm:justify-self-end"
	>
		<p class="relative z-10">
			Grow confident explaining your project to important audiences
		</p>
		<Image
			class="absolute w-[7rem] right-0 top-2 z-0"
			src={barrilete}
			alt="barrilete"
			loading="eager"
		/>
	</div>
	<div class="rounded-xl h-[120px] max-w-[275px] sm:justify-self-end">
		<Image
			class="rounded-xl object-cover h-full"
			src={presentation}
			alt="speach "
		/>
	</div>
	<div class="rounded-xl p-4 bg-darkOrange h-[120px] max-w-[275px]">
		<Image
			class="rounded-xl m-auto h-full object-contain"
			src={eye}
			alt="eye "
		/>
	</div>

	<div class="rounded-xl h-[120px] w-[275px] flex sm:justify-self-end">
		<div class="rounded-xl p-4 bg-darkGreen w-[50%]">
			<Image
				class="rounded-xl m-auto h-full w-14 object-contain"
				src={logoWhite}
				alt="logo red"
			/>
		</div>
		<Image
			class="rounded-xl object-cover h-full w-[50%]"
			src={successWoman}
			alt="success woman"
		/>
	</div>
	<div
		class="rounded-xl p-4 bg-foreground text-background h-[120px] w-[275px]"
	>
		<p>Succeed in transforming your project’s material into English</p>
		<div class="flex items-center justify-center gap-2 mt-1">
			<Image class="w-6" src={footer01} alt="icon footer card" />
			<Image class="w-6" src={footer02} alt="icon footer card" />
			<Image class="w-6" src={footer03} alt="icon footer card" />
			<Image class="w-6" src={footer04} alt="icon footer card" />
		</div>
	</div>
</div>
