---
import "../styles/globals.css";
import Layout from "@/layout/Layout.astro";
import { Image } from "astro:assets";
import starGreen from "@/assets/starGreen.png";
import janellePinkbg from "@/assets/janellePinkBg.jpeg";
import janelleRowing from "@/assets/janelleRowing.jpg";
import janelleSinging from "@/assets/janelleSinging.jpg";
import janelleTakingPhoto from "@/assets/janelleTakingPhoto.jpg";
import { fade } from "astro:transitions";
---

<Layout title="About Us | English Creative">
  <div
    class="container mx-auto max-w-[1100px] py-[5rem] 2xl:pt-[8rem] relative"
  >
    <a
      href="/"
      class="block font-semibold bg-darkGreen text-background py-2 px-4 rounded-sm w-fit hover:opacity-70 fixed right-[10%] bottom-3 z-40"
      >Home</a
    >
    <!-- Section One -->
    <div
      class="flex flex-col sm:items-end sm:flex-row gap-6 md:gap-12 relative animate-fade-up"
    >
      <div
        class="font-Baloo text-darkOrange font-bold text-3xl sm:absolute sm:top-[7%] sm:right-[15%] md:left-1/2 md:top-[3rem] md:-translate-x-1/4 lg:top-[99px] lg:text-5xl lg:min-w-[450px]"
      >
        <h1
          class="bg-white pt-3 mb-2 w-fit px-2"
          transition:animate={fade({ duration: "0.5s" })}
        >
          Hi, I'm Janelle,
        </h1>
        <h1
          class="bg-white pt-3 w-fit px-2"
          transition:animate={fade({ duration: "0.5s" })}
        >
          your English coach
        </h1>
      </div>

      <div
        class="p-12 bg-lightOrange border-[5px] border-white max-w-[700px] sm:h-[300px] md:h-[400px] lg:h-[500px] sm:w-[50%] flex justify-center items-center"
      >
        <div class="max-w-[300px]">
          <Image
            src={janellePinkbg}
            alt="janelle profile pink background"
            loading="eager"
          />
        </div>
      </div>
      <div
        class="text-center font-semibold font-Baloo text-xl sm:w-[50%] sm:pb-[2rem] md:pb-[4rem] lg:pb-[7rem] md:max-w-[550px] md:text-xl flex flex-col"
      >
        <p class="text-balance">
          Inspired by language, driven by creativity - my mission is to help
          prepare the voices of Spanish-speaking creators for the world stage.
        </p>
      </div>
    </div>
  </div>

  <!-- Section Two -->
  <div class="bg-white py-[5rem]">
    <div class="container max-w-[1100px]">
      <div
        class="font-Baloo text-darkOrange font-bold text-3xl mb-8 animate-fade-up"
      >
        <h1 class="bg-darkOrange text-white pt-3 mb-2 w-fit px-2">
          How I started...
        </h1>
      </div>
      <div class="grid sm:grid-cols-2 gap-8 mt-12">
        <div class="flex flex-col gap-8">
          <p>
            I never imagined becoming a passionate English Coach for
            Spanish-speaking creators worldwide, but looking back, it all makes
            sense. As a teenager, I dreamt of speaking Spanish because salsa
            music moved me. Returning from volunteering in Peru and completing
            an Event Management course as a young adult, I was inspired to work
            with projects aiming to make a positive global impact.
          </p>
          <p>
            During my Bachelor of Arts International in Australia where I
            studied Spanish and Latin American Studies and Anthropology, I was
            struck by how intertwined language is with culture and our
            interpretation of the world. Travelling through Central and South
            America as a novice documentary filmmaker, I witnessed incredible
            initiatives being created around me. I longed to see these projects
            reach a global audience
          </p>
          <p>
            Settling in Argentina opened the door to my career in English
            mentoring and I have been working for over five years with
            Spanish-speaking creators from around the world using my experience,
            talents, and curiosity to share what I love… English + Creativity!
          </p>
        </div>
        <div class="max-h-[500px]">
          <Image
            src={janelleTakingPhoto}
            alt="janelle taking a photograph"
            class="h-full object-contain"
          />
        </div>
      </div>
    </div>
  </div>

  <!-- Section Three -->
  <div class="bg-background py-[5rem]">
    <div class="container max-w-[1100px]">
      <h1
        class="flex flex-col gap-2 font-Baloo text-darkOrange font-bold text-3xl md:text-5xl mb-16 md:items-center"
      >
        <div>
          <span class="inline-block text-darkOrange pt-3 bg-white w-fit px-2"
            >What does</span
          ><span class="inline-block bg-darkOrange pt-3 text-white w-fit px-2"
            >creativity</span
          >
        </div>

        <span
          class="inline-block text-darkOrange pt-3 bg-white w-fit px-2 md:text-end"
          >mean to me?</span
        >
      </h1>

      <div class="flex flex-col sm:flex-row sm:items-center">
        <div class="p-4 bg-lightOrange sm:w-[50%]">
          <Image
            widths={[240, 540, 720, janelleRowing.width]}
            sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${janelleRowing.width}px`}
            src={janelleRowing}
            alt="janelle sining in a band"
            class="object-cover w-auto h-auto"
          />
        </div>
        <ul
          class="space-y-4 my-12 sm:my-0 sm:w-[50%] md:max-w-[400px] mx-auto md:space-y-8"
        >
          <li class="flex items-start gap-2 text-start bg-white p-4">
            <div class="size-6 mb-2">
              <Image src={starGreen} alt="logo" />
            </div>
            <div class="flex flex-col justify-start">
              <span class="font-bold uppercase font-Baloo text-darkGreen mt-1"
                >Being curious.</span
              >
              <div class="flex flex-col">
                <span> Asking yourself: “What lies beyond?” </span>
                <span> “What else can I learn?” </span>
              </div>
            </div>
          </li>
          <li class="flex items-start gap-2 text-start bg-white p-4">
            <div class="size-6 mb-2">
              <Image src={starGreen} alt="logo" />
            </div>
            <div class="flex flex-col justify-start">
              <span class="font-bold uppercase font-Baloo text-darkGreen mt-1"
                >Exploring the world around you.</span
              >
              <div class="flex flex-col">
                <span> I’ve been to 33 countries, lived in 9 of them </span>
                <span>and gained more and more perspective along the way.</span>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="flex flex-col-reverse sm:flex-row sm:items-center">
        <ul
          class="space-y-4 my-12 sm:my-0 sm:w-[50%] md:max-w-[400px] mx-auto md:space-y-8"
        >
          <li class="flex items-start gap-2 text-start bg-white p-4">
            <div class="size-6 mb-2">
              <Image src={starGreen} alt="logo" />
            </div>
            <div class="flex flex-col justify-start">
              <span class="font-bold uppercase font-Baloo text-darkGreen mt-1"
                >Expressing yourself.</span
              >
              <div class="flex flex-col">
                <span> In my free time, you’ll find me at the local </span>
                <span>rowing club or singing with my band!</span>
              </div>
            </div>
          </li>
          <li class="flex items-start gap-2 text-start bg-white p-4">
            <div class="size-6 mb-2">
              <Image src={starGreen} alt="logo" />
            </div>
            <div class="flex flex-col justify-start">
              <span class="font-bold uppercase font-Baloo text-darkGreen mt-1"
                >Having the power to transform.</span
              >
              <div class="flex flex-col">
                <span>The ability to build on what already exists and </span>
                <span>transform it into something novel and valuable</span>
              </div>
            </div>
          </li>
        </ul>
        <div class="p-4 bg-white flex items-center justify-center sm:w-[50%]">
          <Image
            widths={[240, 540, 720, janelleSinging.width]}
            sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${janelleSinging.width}px`}
            src={janelleSinging}
            alt="janelle rowing in the lake"
            class="object-cover w-auto h-full filter grayscale-[80%]"
          />
        </div>
      </div>
      <a
        href="/#howwork"
        class="block font-semibold bg-darkOrange text-background py-3 px-6 rounded-sm mx-auto w-fit hover:opacity-70 mt-12"
        >Let’s work together</a
      >
    </div>
  </div>
</Layout>
